.container{
    padding: 0 2rem;
    margin:0;
    font-family: basic-sans, sans-serif;
    font-size: 1.125em;
    line-height: 1.6;
    color: var(--clr-body);
    min-height: 100vh;
}

/* HOME: LANDING PAGE */
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: sans-serif;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(/static/school.jpg)no-repeat;
    background-size: cover;
    background-position: center;
}

header{
    position: relative;
    top:0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    position: relative;
    color: #000;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}

header .navigation a{
    color: #000;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition-property: background;
}

header .navigation a:not(:last-child){
    margin-right: 30px;
}

header .navigation a:hover{
    background: rgb(105, 105, 172);
}

.content{
    max-width: 500px;
    margin: 60px 100px;
}

.content .info h2{
    color: #226A80;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}

.content .info h2 span{
    color: blueviolet;
    font-size: 50px;
    font-weight: 600;
}

.content .info p{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
}

.content .info-btn{
    color: #fff;
    background: #226A80;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
    transition-property: background;
}

.media-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: 0.3s;
    transition-property: transform;
}

.media-icons a{
    position: relative;
    color: #111;
    font-size: 25px;
}

.media-icons a:not(:last-child){
    margin-right: 60px;
}

.media-icons a:hover{
    transform: scale(1.5);
}

label{
    display: none;
}

#check{
    z-index: 3;
    display: none;
}

@media (max-width: 960px){
    header .navigation{
        display: none;
    }
    label{
        display: block;
        font-size: 25px;
        cursor: pointer;
        transition: 0.3s;
        transition-property: color;
    }
    label:hover{
        color: #5211a7;
    }
    label .fa-x{
        display: none;
    }
    #check:checked ~ header .navigation{
        z-index: 2;
        position: fixed;
        background: rgba(144, 223, 255, 0.9);
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #check:checked ~ header .navigation a{
        font-weight: 700;
        margin-right: 0;
        margin-bottom: 50px;
        letter-spacing: 2px;
    }

    #check:checked ~ header label .fa-bars{
        display: none;
    }

    #check:checked ~ header label .fa-x{
        z-index: 2;
        display:block;
        position: fixed;
    }

    label .fa-bars{
        position: absolute;
    }

    header .logo{
        position: absolute;
        bottom: -6px;
    }

    .content .info h2{
        font-size: 45px;
        line-height: 50px;
    }

    .content .info h2 span{
        font-size: 40px;
        font-weight: 600;
    }

    .content .info p{
        font-size: 14px;
    }
}

@media (max-width: 560px){
    .content .info h2{
        font-size: 35px;
        line-height: 40px;
    }

    .content .info h2 span{
        font-size: 30px;
        font-weight: 600;
    }

    .content .info p{
        font-size: 14px;
    }
}


/* ABOUT PAGE */
.leadership{
    display: flex;
}

.page{
    display: flex;
}

.about{
    max-width: 100%;
    height:auto;
}

.about_img{
    max-width: 30%;
    height: auto;
}

.container{
    padding: 0 2rem;
    max-width: 62.5rem;
    margin: 0 auto;
}

article{
    margin: 2em 0;
    padding: 2em;
    box-shadow: 0 0 2rem -0.5rem rgba(0, 0, 0, 2);
}

/* TABLE STYLING */
.wrapper{
    box-shadow: 0 0 2rem -0.5rem rgba(0, 0, 0, 2);
    width: min(900px, 100% - 2rem);
    /* margin-inline: auto; */
}

table{
    padding: 3rem;
    width: 100%;
    border-collapse: collapse;
    background: #c9aebe;
}

caption,
td,
th{
    padding: 1rem;
}

caption,
th{
    text-align: left;
}

caption{
    background: hsl(0 20% 70%);
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

th{
    background: hsl(0 60% 20% / 0.5);
}

tr:nth-of-type(2n){
    background: hsl(0 0% 0% / 0.1);
}

/* for mobile phones */
@media(max-width: 650px){
    th{
        display: none;
    }
    td {
        display:grid;
        gap: 0.5rem;
        grid-template-columns: 15ch auto;
        padding: .5rem 1rem;
    }

    td:first-child{
        padding-top: 2rem;
    }
    td:last-child{
        padding-bottom: 2rem;
    }

    td::before{
        content: attr(data-cell) ": ";
        font-weight: 700;
        text-transform: capitalize;
    }
}