<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body class="container">
    <h1>Explore Institution</h1>
    <img class="about" src="/static/about.jpeg" alt="">
    .<div class="leadership">
        <div class="about">
            <h3>About Us</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates nemo maxime maiores consectetur deserunt voluptatibus vel dolore explicabo. Porro consequatur repudiandae maxime pariatur voluptas, cumque in omnis ratione adipisci numquam!</p>
        </div>
        
        <div class="description">
            <p>Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </div>
    
    <div class="leader">
        <div class="leadership">
            <img src="/static/leadership.jpeg" class="about_img" alt="">
            <div class="description">
                <h3>Leadership & Organizations</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus reprehenderit dolorum eum voluptates facere perferendis sint iste, exercitationem ex quos cumque obcaecati reiciendis magnam.</p>
            </div>
        </div><br>
        <div class="leadership">
            <img src="/static/culture.jpeg" class="about_img" alt="">
            <div class="description">
                <h3>History</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus reprehenderit dolorum eum voluptates facere perferendis sint iste, exercitationem ex quos cumque obcaecati reiciendis magnam.</p></div>
        </div><br>

        <div class="leadership">
            <img src="/static/school.jpeg" class="about_img" alt="">
            <div class="description">
                <h3>Centers & Institutes</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus reprehenderit dolorum eum voluptates facere perferendis sint iste, exercitationem ex quos cumque obcaecati reiciendis magnam.</p>
            </div>
        </div>
    </div>
</body>
</html>