<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <nav class="nav">
        <ul class="nav__list">
            <li><a href="{{url_for('about')}}">About</a></li>
            <li><a href="{{url_for('login')}}">Login</a></li>
            <li><a href="{{url_for('signup')}}">Signup</a></li>
            <li><a href="{{url_for('logout')}}">Logout</a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>